@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-jetbrains-mono: 'Courier New', Courier, monospace;
}

body {
  color: #0F172A;
  background: #FFFFFF;
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
